[Unit]
Description=Akilli Guvenlik Sistemi
After=network.target

[Service]
User=tolguner
WorkingDirectory=/home/tolguner/Desktop/smart_security
ExecStart=/home/tolguner/Desktop/smart_security/venv/bin/python app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
